body {
    /* background: linear-gradient(to right, rgb(0, 81, 255), rgb(195, 0, 216)); */
    background: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}

.main-header {
    top: 30%;
    position: sticky;
    margin: 5px 10px;
    width: 200px;
    text-align: center;
    z-index: 2;
}

.main-header nav {
    display: flex;
    flex-direction: column;
    /* border-left: orange solid 5px; */
    border-radius: 10px;
    gap: 30px;
    padding: 10px;
    position:sticky;
    top: 30%;
    /* box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.259); */

}
.main-header a{
    text-align: center;
    position: relative;
    /* top: 10px; */

    text-wrap: wrap;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;

}

.main-footer {
    grid-area: footer;
    position: relative;
    justify-content: center;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    margin: 15px 20px;

    padding: 15px;

    border-left: #03ff46 5px solid;
}

.main-footer h2 {
    margin: 0 0 5px 0;
}

.main-footer p,
.main-footer a {
    margin: 0px;
}

section {
    grid-area: main;
    align-items: center;
    background-color: white;
    /* padding: 15px;
    margin: 15px 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: #07ff03 5px solid;
    display: block;
    text-align: justify;
}
main{
    /* position: relative; */
    top: 0;
    /* width: 100%; */
}

.yo {
    /* margin: 20px 20px; */
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* padding: 10px; */
    justify-content: center;
    gap: 10px;
    border-left: none;
    box-shadow: none;
    height: 550px;
    background: url("../img/mmmm.jpeg") ;
    margin: 0%;
    width: 100%;

}
.yo img{
    width: 50%;
    height: 50%;
    
}

#animated-role {
    font-weight: bold;
    border-right: 0.15em solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        blink-caret 0.5s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}